
<section class="reem">
    <h3><%= book.booktitle %></h3>
    <img src='<%=book.img %>'>
    <h4>Book Authors :<%= book.authors %></h4> 
    <h5>ISBN <%= book.isbn %></h5>
    <p><%= book.book_description %></p>
    
  </section>

