<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

  <nav>
    <h1>EDIT PAGE</h1>
    <ul>
      <li><a href='/'>Homepage</a></li>
      <li><a href=/searches/new>Search</a></li>
    </ul>
  </nav>

    <form action="/book/<%= book.id %>?_method=PUT" method="post">
        <input type= "text" name="author" value="<%= book.authors %>">
        <input type= "text" name="title" value="<%= book.booktitle %>">
        <input type= "text" name="isbn" value="<%= book.isbn %>">
        <input type= "text" name="image" value="<%= book.img  %>">
        <input type= "text" name="description" value="<%= book.book_description %>">
        <input id="form_button" type="submit" value="save" name="update book">
    
      </form>
      <form action='/books/<%= books.id %>?_method=DELETE' method='POST'>
        <input id="form_button" type='submit' value='Delete This book'>
      </form>

</body>
</html>