<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

  <nav>
    <h1>EDIT PAGE</h1>
    <ul>
      <li><a href='/'>Homepage</a></li>
      <li><a href=/searches/new>Search</a></li>
    </ul>
  </nav>

    
  <section class="reem">
    <h3><%= book.booktitle %></h3>
    <img src='<%=book.img %>'>
    <h4>Book Authors :<%= book.authors %></h4> 
    <h5>ISBN <%= book.isbn %></h5>
    <p><%= book.book_description %></p>
    
  </section>

</body>
</html>